@import "../spec/mixins";

.container {
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1360px;

    @include media-up(md) {
        padding: 0 36px;
    }

    @include media-up(xxl) {
        padding: 0;
    }
}