<!DOCTYPE html>
<html lang="ru">
<head>
    <!-- Meta -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="format-detection" content="telephone=no">

    <title><%=title%></title>

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="img/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="img/favicon/favicon-16x16.png">
    <link rel="manifest" href="img/favicon/site.webmanifest">
    <link rel="mask-icon" href="img/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#3DD98E">
    <meta name="theme-color" content="#ffffff">

    <!-- Preloading fonts -->
    <link rel="preload" href="fonts/FontName.woff2" as="font" type="font/woff2" crossorigin="anonymous">
    
    <!-- Styles -->
    <link rel="stylesheet" href="css/style.css">
</head>
<body>

<header class="header">
    <div class="container header__content">
        <a href="/" class="header__logo"></a>

        <nav class="header__nav nav">
            <ul class="nav__list">
                <li class="<%=menu.name1%>">
                    <a href="#">link</a>
                </li>
                <li class="<%=menu.name2%> menu-item-has-children">
                    <a href="#">link</a>
                    <ul class="sub-menu">
                        <li><a href="#">link</a></li>
                    </ul>
                </li>
            </ul>
        </nav><!-- / .nav -->

        <div class="hamburger">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
</header><!-- / .header -->