/* Media queries */
$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1500px,
);

/* Fonts */
$font-main: Roboto, -apple-system, system-ui, BlinkMacSystemFont, Ubuntu, 'Open Sans', 'Helvetica Neue', sans-serif;

/* Colors */
$color-main: #000000;
$color-grey: #E8E8E8;
