//GRID
$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1500px,
);

// FONT
$font: 'Cormorant', serif;
$font2: 'Imperial', sans-serif;

// COLORS
$color-main: #000000;
$color-grey: #E8E8E8;
