root = true

# All files
[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8
trim_trailing_whitespace = true

# HTML
[*.{html,html,cshtml}]
indent_style = space
indent_size  = 4

# CSS
[*.css]
indent_style = space
indent_size  = 4
quote_type = single

# JAVASCRIPT
[*.{js,jsx}]
indent_style = space
indent_size  = 4
quote_type = single

# PHP
[*.php]
indent_style = space
indent_size  = 4

# JSON
[*.json]
indent_style = space
indent_size  = 4

# ESLINT
[*.eslintrc]
indent_style = space
indent_size  = 4

# STYLELING
[*.stylelintrc]
indent_style = space
indent_size  = 4

# YAML
[*.yaml]
indent_style = space
indent_size  = 4

# XML
[*.{xml,svg}]
indent_style = space
indent_size  = 4
