@font-face {
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  font-family: "FontName";
  src: url("fonts/FontName-Regular.woff2") format("woff2"),
    url("fonts/FontName-Regular.ttf") format("ttf"),
    url("fonts/FontName-Regular.woff") format("woff");
}