*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
}

body {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  font-family: $font;
  line-height: 1.5;
  color: $color-main;
  word-wrap: break-word;
  background-color: #fff;
  min-width: 320px;
  min-height: 100vh;
  min-height: var(--app-height);
  overflow-x: hidden;
  position: relative;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

main {
  flex-grow: 1;
  width: 100%;
  overflow: hidden;
}

a {
  text-decoration: none;
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  border-style: none;
  pointer-events: none;
}

picture {
  display: block;
}

button {
  border: none;
  cursor: pointer;
  background: none;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 700;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

input,
select,
textarea {
  width: 100%;
  height: 30px;
  padding: 0 20px;
  font-family: inherit;
  color: $color-main;
  background-color: #fff;
  border: none;

  &:hover,
  &:focus {
    outline: none;
  }
}