extends ../layout/default
include ../components/mixins/icon

block vars
    - pageClass = 'home'
    - headTitle = 'Homepage'

block content
    main.main
        .page
            .container
                h1.text-center Homepage
